/* Tablet View */
@media (max-width: 1000px) {
    .header-right a {
        margin-left: 35px;
        color: #444444;
        font-size: 16px;
        line-height: 80px;
        font-family: 'Poppins', sans-serif;
    }

    .intro-text h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .intro-img img {
        height: 400px;
        width: 400px;
    }

    .main-img img {
        height: 350px;
        width: 350px;
    }

    .main-text h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .main-text p {
        font-size: 14px;
    }

    .member-content {
        height: 400px;
    }
}

/* Mobile View */
@media (min-width: 675px) {
    .menu-icon {
        display: none !important;
    }
}

@media (max-width: 675px) {
    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .intro-container {
        flex-direction: column-reverse;
        /* border: 1px solid red; */
        text-align: center;
    }

    .main-content {
        display: flex;
        border: 1px solid red;
        align-items: center;
    }

    .main-img img {
        height: 100%;
        width: 100%;
    }

    .main-text h2 {
        font-size: 14px;
    }

    .main-text p {
        font-size: 12px;
    }

    .member-content {
        flex-direction: column;
        width: 60%;
        margin-bottom: 50px;
    }
}